.additional_menu {text-align:left; background-color:#ffffff; float: left}
.additional_menu ul li {list-style-type: none; }
.additional_menu ul li a{text-decoration:none; color:#527397; border:0px; border-bottom:0; background:#ffffff;}
.additional_menu ul li a:hover {color:#527397; background: #E1E7ED}

#letter strong {color: #527397; float: left; background-color: #ffffff; margin: 5px 0px 5px 9px}
#logo strong {color: #ffffff; float: left; background-color: #527397;margin: 5px 0px 5px 3px}

#menu ul li {display: inline;}
#menu ul li:hover {display: inline;background: #3F6084;}
#menu ul li a {text-decoration:none;color:#ffffff; border:0px; margin: 5px 5px ; border-bottom:0; background:#527397;}
#menu ul li a:hover {color:#ffffff; background: #3F6084}

.menusection {width: 25%;  text-align:left; background-color:#ffffff; float: left}
.menusection ul li {list-style-type: none; }
.menusection ul li a{text-decoration:none; color:#527397; border:0px; border-bottom:0; background:#ffffff;}
.menusection ul li a:hover {color:#527397; background: #E1E7ED}

img {width="202" height="270" align="left" style="background-color: #ffffff"}